body{
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background: #000000;
}

.skip-link{
    position: absolute;
        top: -100px;
        left: 0;
        Background: #0B1E33;
        color: #fff;
        padding: 10px;
        z-index: 100;
}

header{
    background-color: #000000;
    color:#fff;
    padding: 1rem;
    text-align: center;
}

nav ul{
    list-style:circle;
    padding: 0;
    margin: 0;
    background: #fff;
    color:#000000;
    display: flex;
    justify-content: center;
}
nav a{
    text-decoration: none;
    color:yellow;
    font-weight: bold;
}
main {
    max-width: 600px;
    margin: 2rem auto;
    background:black;
    color: white;
    border-radius: 8px;
}
h1,h2,h3 {
    text-align: justify;
    margin-top: 1.5rem;
}
footer{
    text-align: center;
}