body{
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background: #43BCCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 27px;
}
head title{
    color:white;
    border-bottom: 10px #444;
    margin-bottom: 10rem;
    text-align: center;
}
.skip-link{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #0B3C5D;
    color: #fff;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 18px;
    z-index: 10000;
    text-decoration: none;
}

.section{
    width: 100%;
    padding:1rem 1rem;
    box-sizing:border-box;
    
}

.section.center p {
     font-size: 1.1rem;
    max-width: 600px;
    margin: 1rem auto 0 auto;
    text-align: center;
}
.content{
    max-width: 900px;
    margin: 0 auto;
    padding: 0.25rem;
    margin-top: 0rem;
}
.content ul{
    margin-left: 1.5rem;
    padding-left: 1rem;
    margin-bottom: 0.35rem;
    list-style-type: disc;
}
.content ul li {
    margin-bottom: 0.25rem;
}
.content ul ul {
    margin-left: 1.2rem;
    margin-top: 0.1rem;
    list-style-type: circle;
}
header{
    background-color: #0B3C5D;
    color:#fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header h1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
nav ul{
    list-style:circle;
    padding: 2px;
    margin: 0;
    background: #0077B6;
    color: white;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
nav a{
    text-decoration: none;
    color:#FFFFFF;
    font-weight: bold;
}
nav {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
}
main {
    max-width: 1100px;
    width: 100%;
    background: #a0cdd8;    
    color: #0B1E33;   
    border-radius: 8px;
    flex-direction: column;
    margin:180px auto 2rem auto;
    
}
main > * {
    margin-left: auto;
    margin-right: auto;
}
h1,h2,h3 {
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    
}
h1{
    margin-left: 4rem;
}
h2{
    gap: 2rem;
    font-size: 30px;
    
}
h3{
    font-size: 28px;
}
footer{
    text-align: center;
    color:black;
    padding:2rem;
    margin-top: 3rem;
    border-top: 2px solid #444;
}
.text-image-block{
    background: #a0cdd8;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1000px;
    margin-bottom: 3rem;
    padding-left: 2rem

}

.text-side{
    width: 75%;
    margin-right:4rem;
}
.image-side{
    width: 25%;
    display:flex;
    justify-content: center;
}
.image-side img{
    width: 400px;
    border-radius: 6px;
    max-width: 260px;
    padding: 4 1rem;
}

@media (max-width: 600px) {

  .text-image-block {
      flex-direction: column;
      text-align: center;
  }

  .text-side, .image-side {
      width: 100%;
      margin: 0;
  }
}
@media (max-width: 600px) {
  main {
    margin: 120px auto 1rem auto;
    padding: 1rem;
  }
}
img {
    max-width: 100%;
    height: auto;
}
