body{
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
head title{
    color:white;
    border-bottom: 2px #444;
    margin-bottom: 3rem;
    text-align: center;
}
.skip-link{
    position: absolute;
        top: -100px;
        left: 0;
        Background: #0B1E33;
        color: #fff;
        padding: 10px;
        z-index: 100;
}
.section{
    width: 100%;
    padding:1rem 1rem;
    box-sizing:border-box;
    
}

.section.center p {
     font-size: 1.1rem;
    max-width: 600px;
    margin: 1rem auto 0 auto;
    text-align: center;
}
.content{
    max-width: 900px;
    margin: 0 auto;
    padding: 0.25rem;
    margin-top: 0rem;
}
.content ul{
    margin-left: 1.5rem;
    padding-left: 1rem;
    margin-bottom: 0.35rem;
    list-style-type: disc;
}
.content ul li {
    margin-bottom: 0.25rem;
}
.content ul ul {
    margin-left: 1.2rem;
    margin-top: 0.1rem;
    list-style-type: circle;
}
header{
    background-color: #000000;
    color:#fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header h1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
nav ul{
    list-style:circle;
    padding: 0;
    margin: 0;
    background: #fff;
    color:#000000;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
nav a{
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}
nav {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
}
main {
    max-width: 1100px;
    width: 100%;
    background:black;
    color: white;
    border-radius: 8px;
    flex-direction: column;
    margin:180px auto 2rem auto;
    
}
main > * {
    margin-left: auto;
    margin-right: auto;
}
h1,h2,h3 {
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
}
footer{
    text-align: center;
    color:white;
    padding:2rem;
    margin-top: 3rem;
    border-top: 2px solid #444;
}
.text-image-block{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;
    margin: 1.5rem auto;
    padding: 0 2rem;

}
.text-side{
    width: 60%;
    margin-right: 0.5rem;
}
.image-side img{
    width: 280px;
    border-radius: 6px;
    object-fit: cover;
}
@media(max-width: 900px) {
    .text-image-block {
        margin: 2rem auto;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .text-side {
        width: 65%;
        margin-right: 1rem;
    }

    .image-side img {
        width: 90%;
        max-width: 300px;
        margin-top: 1rem;
    }
}